version: "3.9"

services:

  redis:
    image: redis:7-alpine
    container_name: snow_redis
    restart: unless-stopped
    command: redis-server --appendonly yes
    ports:
      - "6380:6379"
    volumes:
      - ./data/redis:/data

  postgres:
    image: postgres:16-alpine
    container_name: snow_postgres
    restart: unless-stopped
    environment:
      POSTGRES_USER: app
      POSTGRES_PASSWORD: app
      POSTGRES_DB: snow
    ports:
      - "5433:5432"
    volumes:
      - ./data/postgres:/var/lib/postgresql/data
